.biggerContainer {
  padding: 3rem;
}

.appLogo {
  text-align: center;
  margin-bottom: 1rem;
  color: #2ce72f;
  font-family: VT323, sans-serif;
  font-size: 3.9rem;
}

.titleBar {
  display: flex;
  justify-content: space-between;
}

.userPhoto img {
  width: 60px !important;
}

.tagLine {
  color: #fff;
  font-family: Roboto;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 139.688%;
  letter-spacing: 0.038rem;
  margin-left: 2rem;
}

.movieCategory {
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right:4rem;
}

.categoryName {
  color: #878787;
  font-family: Roboto;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 139.688%; 
  letter-spacing: 0.0375rem;
  margin-bottom: 1rem;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movieImage > img {
    width: 10rem;
    height: auto;
    border: 2px solid #72DB73;
    border-radius: 9px;
    box-shadow: rgba(25, 213, 25, 0.25) 0px 6px 12px -2px, rgba(18, 150, 31, 0.3) 0px 3px 7px -3px;
}

