@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.select-category {
  display: flex;
  justify-content: center;
  margin: 2rem;
  gap: 5rem;
}
.select-category .category-selected {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.select-category .category-selected h1 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  color: #2ce72f;
  font-family: VT323, sans-serif;
  font-size: 3.5rem;
}
.select-category .category-selected p {
  color: aliceblue;
  color: #fff;
  font-family: Roboto;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.0705rem;
  letter-spacing: 0.06875rem;
}
.select-category .category-selected div {
  margin-top: 1rem;
  color: #f00;
  font-family: Roboto;
}
.select-category .category-selected div img {
  width: 1.5rem;
}
.select-category .category-selected .category-selected-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.select-category .category-selected .category-selected-list span {
  padding: 0px 0px 0px 20px;
  background-color: #2ce72f;
  color: white;
  border-radius: 20px;
  font-size: 1.1rem;
  width: fit-content;
}
.select-category .category-selected .category-selected-list span button {
  margin-left: 10px;
}
.select-category .category-cards {
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.select-category .category-cards .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  margin: 0;
  gap: 2.5rem;
}
.select-category .category-cards .grid-container .card {
  aspect-ratio: 1/1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.select-category .category-cards .grid-container .selected {
  border: 0.2rem solid #11b800;
}
.select-category .category-cards .grid-container .card1 {
  border-radius: 0.55rem;
  background: #ff5209;
}
.select-category .category-cards .grid-container .card2 {
  border-radius: 0.55rem;
  background: #d7a4ff;
}
.select-category .category-cards .grid-container .card3 {
  border-radius: 0.55rem;
  background: #148a08;
}
.select-category .category-cards .grid-container .card4 {
  border-radius: 0.55rem;
  background: #84c2ff;
}
.select-category .category-cards .grid-container .card5 {
  border-radius: 0.55rem;
  background: #902500;
}
.select-category .category-cards .grid-container .card6 {
  border-radius: 0.55rem;
  background: #7358ff;
}
.select-category .category-cards .grid-container .card7 {
  border-radius: 0.55rem;
  background: #ff4ade;
}
.select-category .category-cards .grid-container .card8 {
  border-radius: 0.55rem;
  background: #e61e32;
}
.select-category .category-cards .grid-container .card9 {
  border-radius: 0.55rem;
  background: #6cd061;
}
.select-category .category-cards .grid-container .title {
  color: #fff;
  font-family: DM Sans, sans-serif;
  font-size: 1.55rem;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}
.select-category .category-cards .grid-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  background-color: #2ce72f;
  color: white;
  border: none;
  border-radius: 1.23rem;
  cursor: pointer;
  align-self: flex-end;
  width: fit-content;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
button:active {
  transform: scale(0.98);
}
button:hover {
  background-color: #4dac4d;
}

@media (max-width: 800px) {
  .select-category {
    flex-direction: column;
    gap: 1rem;
  }
  .select-category .category-selected {
    width: 100%;
  }
  .select-category .category-selected p {
    font-size: 1.4rem;
    line-height: normal;
  }
  .select-category .category-cards {
    width: 100%;
  }
  .select-category .category-cards .grid-container {
    grid-template-columns: 130px 130px;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=SelectCategory.css.map */